@import "variables";

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.c-nav {
  height: $nav-height;
  background: $bg;
  color: $nav-color;
  font-size: 18px;
  a {
    color: $nav-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: darken($nav-color, 10);
      img {
        opacity: .8;
      }
    }
  }
  .menu {
    padding: 15px 0;
  }
  .bron {
    background: $nav-color;
    color: $bg;
    padding: 10px 18px;
    border-radius: 3px;
    margin-left: 2em;
    text-decoration: none!important;
    &:hover {
      color: $bg;
      background: darken($nav-color, 10);
      text-decoration: none;
    }
  }
  .delim {
    margin: 28px 25px;
    border-left: 1px solid $nav-color;
    width: 1px;
    height: 28px;
  }
  .logo, .logo:hover {
    float: left;
    margin-top: 4px;
    img {
      height: 44px;
    }
  }
}

.carousel {
  position: relative;
  &.carousel-main {
    padding: 0;
  }

  .carousel-control {
    z-index: 2;
    &.left {
      background: url(../assets/carousel_prev.png) center no-repeat;
    }
    &.right {
      background: url(../assets/carousel_next.png) center no-repeat;
    }
  }
  .main-logo {
    position: absolute;
    z-index: 1;
    max-height: 100%;
    width: 100%;
    top: 6vh;
    text-align: center;
    padding: 0 15vw;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.narrow-logo {
  text-align: center;
  padding: 30px 0;
  background: url(../assets/main1.jpg) center no-repeat;
  & > img {
    max-width: 100% !important;
  }
}

.img-zoomable {
  display: block;
  margin: 1.5em;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    transition: width 2s linear, height 2s linear, margin-left 2s linear;
  }
  &:hover > img {
    width: 110%;
    height: 110%;
    margin-left: -5%;
  }
  .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    background: rgba(0,0,0,.4);
    padding-top: 45%;
    &:before {
      content: '';
      position: absolute;
      left: 30%;
      width: 40%;
      border-top: 1px solid #fff;
    }
    &:after {
      content: '';
      position: absolute;
      left: 30%;
      width: 40%;
      border-top: 1px solid #fff;
      margin-top: 1.55em;
    }
  }
}

.article {
  padding: 0 20px;
  font-size: calc(12px + 0.6vw);
  h3 {
    margin: 40px 0 20px 0;
    font-size: 1.75em;
    color: #eea236;
  }
  &.light-gold {
    color: $nav-color;
  }
  &.dark {
    background: $bg;
    color: $nav-color;
  }
  &.email {
    h3 {
      margin: 10px 0;
      font-size: 1.5em;
    }
    .form-inline {
      margin-bottom: 20px;
    }
    button {
      background: $nav-color;
      color: $bg;
    }
  }
  & > .col-sm-6 > p:last-child {
    margin-bottom: 1em;
  }
}

.main-title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 56px;
  color: $bg-light;
  position: relative;
  margin-bottom: 1em;
  &:after {
    content: '';
    position: absolute;
    border-top: 1px solid $bg-light;
    bottom: -0.3em;
    left: 28%;
    right: 28%;

  }
}

.footer {
  padding: 40px 40px;
  background: $bg;
  color: $nav-color;
  font-size: 14px;
  .follow {
    min-width: 200px;
    img {
      height: 50px;
      margin-right: 1em;
    }
    a {
      text-decoration: none;
    }
  }
  .logo {
    margin: 0 20px;
    &> img {
      max-width: 300px;
    }
  }
  h4 {
    font-weight: bold;
    margin-top: 0;
  }
  a {
    color: $nav-color;
    &:hover {
      color: darken($nav-color, 10);
    }
  }
}

#xs-menu {
  background: $bg;
  top: 52px;
  border-radius: 0;
  right: -15px;
  & > li > a {
    color: $nav-color !important;
    font-size: 1.5em !important;
    &:hover {
      background: $bg-light !important;
    }
  }
}

.modal-backdrop {
  display: none;
  & > .modal {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    .carousel-control.left, .carousel-control.right {
      background-size: 30px;
    }
  }
  .footer {
    .follow {
      margin-top: 1em;
      float: left!important;
    }
  }
  .main-logo {
    top: 3vh !important;
    & > img {
      max-width: 80%!important;
      max-height: 80%!important;
    }
  }
  .xs-inpt {
    float: left;
    width: 33%;
    padding: 0 8px;
    & >input, & > button {
      width: 100%;
    }
  }

  .narrow-logo {
    & > img {
      padding: 0 15px;
    }
  }
}