@import "variables";

body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  padding-top: $nav-height;
}

a {
  text-decoration: none;
  &:hover {
    color: darken($bg, 20);
  }
}

.times {
  font-family: 'Times New Roman', Times, serif;
}

.inline-block {
  display: inline-block;
}

.light-gold {
  background: $bg-light;
}

.color-gold {
  color: $bg;
}

main {
  background: white;
}

.strong {
    font-weight: bold;
}
