@import "variables";

@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url('../assets/font/AvenirNextCyr-Regular.eot');
  src: url('../assets/font/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/AvenirNextCyr-Regular.woff') format('woff'),
  url('../assets/font/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Avenir Next Cyr Regular', Arial, sans-serif;
  background: #f3f3f3;
  padding-top: $nav-height;
}

a {
  text-decoration: none;
  &:hover {
    color: darken($bg-gold, 20);
  }
}

.times {
  font-family: 'Times New Roman', Times, serif;
}

.inline-block {
  display: inline-block;
}

.light-gold {
  background: $bg-gold-light;
}

.color-gold {
  color: $bg-gold
}

main {
  background: white;
}

.strong {
    font-weight: bold;
}
